@import url('https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js');

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e48;
    --text-color: #ededed;
    --main-color: #00abf0;
    --blog-color: #143a5c;
}

* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: url('../Lato/Lato-Black.ttf');
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}
.header .animate {
    background: var(--bg-color);
}

.logo_name {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.menu_list {
    position: relative;
}

.menu_list a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.menu_list a:hover, .menu_list a.active {
    color: var(--main-color);
    text-decoration: none;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem;
}

/* Style Profile Image */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--blog-color);
    padding-bottom: 6rem;
}

span {
    color: var(--main-color);
}

.home-img {
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.home-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: homeSpinner 8s linear infinite;
}

.intro {
    text-align: center;
}

.intro h3 {
    position: relative;
    display: inline;
    font-size: 2.3rem;
}

.intro p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* Style Profile button */
.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}

/* Modal styling begins */
.modal {
    display: none; 
    position: fixed; 
    padding-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--bg-color);
    border-radius: 1%;
    width: 80%;
  }

  .modal-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem 2rem 0;
    line-height: 1.3;
    color: var(--second-bg-color);
  }
  
.profile-statement p {
    font-size: 1.8rem;
    margin: 2rem 2rem 4rem;
    color: var(--second-bg-color);
}

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* Let's Talk button */
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 4rem;
    margin: 0 2rem 0;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
     color: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%; 
}

/* Social Media Icons */
.social-profile a {
    text-decoration: none;
    margin: 2rem 2rem 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
}

.social-profile a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.social-profile a:hover::before {
    width: 100%;
}
/* Modal styling ends */

/* Services */
.services {
    background: var(--second-bg-color);
}

.services-heading {
    display:inline;
    font-size: 35px;
}

hr {
    width: 100px;
    height: 1px;
    border:none;
    color:var(--text-color);
    background-color: var(--text-color);
}

center .section-subheading .text-muted {
    max-width: 500px;
    line-height: 27px;
}

section h3.section-subheading {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 45px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.services-icon a {
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 1.5rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: transparent;
    border: .3rem solid var(--main-color);
    border-radius: 50%;
    font-size: 50px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
}

.services-icon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.services-icon a:hover::before {
    width: 100%;
}

.services-icon i:hover {
    color: var(--bg-color);
}

.services .row h4{
    font-size: 2.3rem;
    margin-top: 1rem;
}

.services .row:nth-child(2) p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
/* Service Modals */
.modal-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem 2rem 0;
    line-height: 1.3;
    color: var(--second-bg-color);
}

.modal-body p {
    font-size: 1.8rem;
    margin: 2rem 2rem 4rem;
    color: var(--second-bg-color);
}

/* Data Portfolio Design */
.data-portfolio-heading {
    display:inline;
    font-size: 35px;
    color: #112e48;
    padding-bottom: 0%;
}

hr {
    width: 100px;
    height: 1px;
    border:none;
    color:var(--text-color);
    background-color: var(--text-color);
}

center .section-subheading .text-muted {
    max-width: 500px;
    line-height: 27px;
}

section h3.section-subheading {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 45px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#data-portfolio-container {
    margin-bottom: 7%;
}

/* Volunteer Gallery design */
.volunteer .card {
    margin-top: 50px;
    margin-bottom: 20px;
    border: .1rem;
    background: transparent;
}


/* Portfolio design */
.portfolio {
    background: var(--bg-color);
}

.portfolio-heading {
    display:inline;
    font-size: 35px;
}

.portfolio .card {
    margin-top: 50px;
    margin-bottom: 20px;
    border: .1rem solid var(--main-color);
    background: transparent;
}

.portfolio .row h4{
    font-size: 2.2rem;
}

.portfolio .row:nth-child(2) p {
    font-size: 1.6rem;
    margin: 2rem 3rem;
}

/* Blog styling */
.blog {
    background: var(--second-bg-color);
    min-height: 50vh;
}

.blog .row:nth-child(2) {
    align-items: center;
    justify-content: center;
}

.blog .row h4{
    font-size: 2.2rem;
}

.blog .row:nth-child(2) p {
    font-size: 1.6rem;
    margin: 2rem 3rem;
}

/* Contact styling */
.contact-heading {
    display: inline;
    font-size: 35px;
}

.social-profile {
    margin: .8rem 0 8rem;
}

.contact-details {
    font-size: 20px;
}

.contact-details  i {
    font-size: 30px;
    padding-right: 1rem;
    padding-top: 1rem;
    color: var(--main-color);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .form-input {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.contact form .form-input .input-field {
    margin-bottom: 2rem;
}
.contact form .form-input .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .form-input .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: #6c757d ;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-icon a {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid  var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
    background: var(--second-bg-color);
}

.footer-icon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .2s;
}

.footer-icon a:hover::before {
    width: 100%;
}

.footer-icon a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-icon a:hover i {
    color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--blog-color);
    z-index: 98;
}

.logo_name .animate, 
.menu_list .animate, #menu-icon .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

/* Pages Under Construction */
.construction {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;

}
.construction img {
    html {
        font-size: 55%;
    }
}

/* BREAKPOINTS */
/*---Media Queries ---*/
/* Extra (xl) devices */
@media (max-width: 1200px) { 
    html {
        font-size: 55%;
    }
 }

/* Large (lg) devices*/
@media (max-width: 992px) { 
    .header {
        padding: 2rem, 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
 }

 /* Small (sm) devices */
@media (max-width: 768px) { 
    .header {
        /* padding: 2rem, 4%; */
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .menu_list {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .menu_list.active {
        left: 0;
        transition-delay: 0s;
    }

    .menu_list .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,0.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .menu_list.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .menu_list a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .menu_list.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
 }

 /* Medium (md) devices */
@media (max-width: 520px) { 
    html {
        font-size: 50%;
    }
 }
 /* Medium (xs) devices */
 @media (max-width: 462px) { 
    html {
        font-size: 50%;
    }

    .contact form .form-input .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
    }
}

/* 
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Medium (md) devices (tablets, 768px and up)
@media (min-width: 576px) { ... }
*/

/* KEYFRAMES ANIMATIONS */
@keyframes homeSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}