<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page Under Construction</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- CSS -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!-- <link href="static/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">     -->
    
    </head>
    <body>
    
    <section style="background-color: white">
        <div class="construction">
            <!-- <a href="https://storyset.com/web">Illustration by Freepik Storyset</a> -->
            <h1 style="margin-bottom: 5rem; color: #081b29;">Ooops! This Page Is Under Construction</h1>
            <img src="../static/images/Website_setup.gif"><br>
            <div  class="btn-box btns text-center">
                <a style="margin: 2rem; width: 15rem;"href="index.html" class="btn" id="btn">Take Me Home</a>
            </div>
        </div>
    </section>

    </body>
</html>